In [1]:
import pandas as pd

In [18]:
df_prometheus = pd.read_csv('output/samples/en/phase_3/prometheus_evaluation.tsv', sep='\t', dtype={"filenameid": str})
df_prometheus = df_prometheus[["filenameid", "scores"]]
df_llama = pd.read_csv('output/samples/en/phase_3/llama_3B_inst_std_prompt_evaluation.tsv', sep='\t', dtype={"filenameid": str})
df_llama = df_llama[["filenameid", "scores"]]
df_doctor = pd.read_csv('output/samples/en/phase_3/llama_doctor_evaluation.tsv', sep='\t', dtype={"filenameid": str})
df_doctor = df_doctor[["filenameid", "scores"]]
df_gpt = pd.read_csv('output/samples/en/phase_3/gpt4ominihigh_evaluation.tsv', sep='\t', dtype={"filenameid": str})
df_gpt = df_gpt[["filenameid", "scores"]]

cols_eval = ["Medical Entities Completeness", "Structure - Headers", "Structure - Content",	"Content Accuracy",	"Made-up Content",	"Overall Quality"]
df_human = pd.read_csv('output/samples/en/phase_3/human_eval.tsv', sep='\t', dtype={"doc_id": str})
df_human = df_human.rename(columns={"doc_id": "filenameid"})
df_human["scores"] = df_human[cols_eval].apply(lambda x: x.to_dict(), axis=1)
df_human = df_human[["filenameid", "scores", "annotator"]]
df_laura = df_human.loc[df_human["annotator"] == "Laura", ["filenameid", "scores"]].reset_index(drop=True)
df_leti = df_human.loc[df_human["annotator"] == "Leti", ["filenameid", "scores"]].reset_index(drop=True)

df_auto = pd.read_csv('output/samples/en/phase_3/auto_eval.tsv', sep='\t', dtype={"filenameid": str})

print(df_prometheus.shape, df_llama.shape, df_doctor.shape, df_gpt.shape, df_laura.shape, df_leti.shape)

(30, 2) (30, 2) (30, 2) (30, 2) (30, 2) (21, 2)

In [19]:
df_auto

,filenameid,tp_cc,n_mentions_cc,tp_ds,n_mentions_ds,precision,recall,f1
0,26512038,10,10,9,10,0.900000,1.000000,0.947368
1,34946264,21,23,22,23,0.956522,0.913043,0.934277
2,30628903,16,18,16,17,0.941176,0.888889,0.914286
3,30567249,11,11,15,18,0.833333,1.000000,0.909091
4,30971480_1,21,22,24,28,0.857143,0.954545,0.903226
...,...,...,...,...,...,...,...,...
995,39044225,6,27,6,25,0.240000,0.222222,0.230769
996,31974261,9,51,9,49,0.183673,0.176471,0.180000
997,38541118,8,41,7,42,0.166667,0.195122,0.179775
998,35456383,5,33,5,42,0.119048,0.151515,0.133333
999,34310587,1,20,1,21,0.047619,0.050000,0.048780

In [20]:
df_leti["scores"].apply(lambda x: x["Overall Quality"])

0     4
1     4
2     4
3     3
4     4
5     5
6     3
7     4
8     4
9     4
10    4
11    3
12    5
13    2
14    3
15    4
16    4
17    4
18    4
19    4
20    3
Name: scores, dtype: int64

In [21]:
df_laura["scores"].apply(lambda x: x["Overall Quality"])

0     5
1     4
2     3
3     2
4     2
5     3
6     4
7     4
8     4
9     2
10    4
11    4
12    2
13    2
14    4
15    4
16    3
17    4
18    4
19    3
20    2
21    3
22    4
23    3
24    3
25    4
26    5
27    5
28    4
29    3
Name: scores, dtype: int64